@font-face {
  font-family: 'Times Ten Pro';
  src: url('fonts/times-ten-pro-bold.woff2') format('woff2'),
       url('fonts/times-ten-pro-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

.coffee-div2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 32px ;
  background: #fff;
  gap: 40px;
}

.coffee-texto {
flex: auto;  display: flex;
  flex-direction: column;
  max-width: 480px;

}

.coffee-title {
  font-family: 'Times Ten Pro', serif;
  font-size: 2.9rem;
  color: #603808;
  margin-bottom: 24px;
}

.coffee-desc {
  font-family: 'Times Ten Pro', serif;
  color: #787878;
  font-size: 1.1rem;
  margin-bottom: 32px;
}

      &:hover {
        transform: translateY(-5px) scale(1.05);
        box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
        
      }
    }
  }

  .Principal {
    background-image: url(/img/café\ principal.webp);
     background-repeat: no-repeat;
    height: 685px;
    width: 6000px;
  }
