
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

@font-face {
  font-family: 'Times Ten Pro';
  src: url('fonts/times-ten-pro-bold.woff2') format('woff2'),
       url('fonts/times-ten-pro-bold.woff') format('woff');
  font-weight: 700;
}

*{
 margin: 0%;
 padding: 0%;
}

.Principal {
    background-image: url(/img/café\ principal.webp);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20px;
    height: 600px;
    width: 1478px;
    color: #ffffff;
    padding-left: 50px;

    .coffee-btn {
   background: #f9bf69;
   color: #603808;
   font-family: 'Times Ten Pro', serif;
   font-weight: bold;
   font-size: 1rem;      
   border: none;
   border-radius: 18px;    
   padding: 9px 20px;    
   transition: color 0.2s;
  }
  .coffee-btn:hover{
   background: #d37809;
   color: #fff;
  }
}

#fonte {
  font-size: 140px;
  font-family: "Parisienne", cursive;
  font-weight: 400;
  font-style: normal;
     
}

.espaco {
  padding: 15px;
}

header {
  width: 100%;
}

nav {
margin-bottom: 100px;
width: 100%;
height: 70px;

}

#canto {
  font-size: 30px;
  font-family: "Parisienne", cursive;
  font-weight: 400;
  font-style: normal;
}

#nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#meio {
  width: 500px;
  display: flex;
  justify-content: space-between;
  
}

#lateral {
  width: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 60px;
}














.coffee-div2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 32px ;
  background: #fff;
  gap: 40px;
}

.coffee-texto {
flex: auto;  display: flex;
  flex-direction: column;
  max-width: 480px;

}

.coffee-title {
  font-family: 'Times Ten Pro', serif;
  font-size: 2.9rem;
  color: #603808;
  margin-bottom: 24px;
}

.coffee-desc {
  font-family: 'Times Ten Pro', serif;
  color: #787878;
  font-size: 1.1rem;
  margin-bottom: 32px;
}

      
    

